{% for n in range(1,11) %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: pion-sim-{{ n }}
spec:
  template:
    spec:
      containers:
      - name: pion
        image: ilcsoft/ilcsoft-centos7-gcc8.2:v02-01-pre
        env:
        - name: ILCSOFT_version
          value: /home/ilc/ilcsoft/v02-01-pre
        - name: SIM_MODEL
          value: ILD_l5_v02
        - name: DISK
          value: /mnt/production_pion_hcal/ILDConfig/StandardConfig/production
        command: ["/bin/sh", "-c"]
        args: 
         - source $(ILCSOFT_version)/init_ilcsoft.sh;
           cd $(DISK);
           echo "-- Running DDSim $(SIM_MODEL) ...";
           ddsim --outputFile ./pion-shower-{{ n }}.slcio --compactFile $(DISK)/compact/${SIM_MODEL}/${SIM_MODEL}.xml --steeringFile ddsim_steer_gun.py ;
           Marlin create_root_tree.xml --global.LCIOInputFiles=./pion-shower-{{ n }}.slcio --MyAIDAProcessor.FileName=pion-shower-{{ n }};
        volumeMounts:
         - mountPath: /mnt
           name: vol1
      restartPolicy: Never
      volumes:
      - name: vol1
        persistentVolumeClaim:
          claimName: ilc-volume

  backoffLimit: 1
{%- endfor %}
